* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #f7f7f7;
    margin: 0;
}
.main {
    max-width: 70vw;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.menu {
    list-style: none;
    display: flex;
    place-content: center center;
    gap: 2rem;
    margin: 3rem;
}

.menu a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 1rem 2rem;
    border-radius: .25rem;
    font-weight: bold;
}

.menu a:hover {
    border: 2px solid #e21;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

p {
    font-size: 1.25rem;
}

.nimbus {
    background-color: #fff;
    text-align: end;
    padding: 3.125rem;
}
.nimbus h2 {
    font-size: 2rem;
}

.nimbus::after {
    content: "";
    display: inline-block;
    background-color: #e21;
    width: 3.75rem;
    height: .25rem;
    position: relative;
    top: -200px;
    left: 80px;

}

.nimbus a {
    text-decoration: none;
    background-color: #e21;
    color: #fff;
    padding: 0.6rem 1.5rem;
    border-radius: .25rem;
    font-weight: bold;
}

.nimbus a:hover {
    background-color: #900;
}

.bicicleta {
    max-width: 100%;
}

.container-flex {
    background-color: #fff;
    padding: 1.875px;
    margin: 0;
}

.item {
    padding: 0.5rem;
}

.titulo {
    display: flex;
    align-items: center;
}

.titulo img {
    margin: 0;
}
.titulo p {
    margin-left: 0.5rem;
}

.container-flex .item:nth-child(odd) {
    background-color: #f7f7f7;
}

.container-flex .item:hover {
    border-left: 3px solid #e21;
}


.vantagem {
    background-image: url("./img/onda.svg");

    font-size: 4rem;
    text-align: end;
    padding: 1.125rem;
    font-weight: bold;
    color: #c6c6c6;
}


footer {
    margin: 0;
    padding: 1.875rem;
    background-color: #fff;
}

footer p {
    text-align: center;
}