* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #f7f7f7;
    margin: 0;
}
.main {
    max-width: 1000px;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.menu {
    display: flex;
    place-content: center center;
    gap: 20px;
    margin: 3rem;
}

.menu a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

p {
    font-size: 20px;
}
.nimbus {
    background-color: #fff;
    text-align: end;
    padding: 50px;
    position: relative;
}
.nimbus h2 {
    font-size: 2rem;
}

.nimbus a {
    text-decoration: none;
    background-color: #e21;
    color: #fff;
    padding: 10px 40px;
    border-radius: 4px;
    font-weight: bold;
}

.bicicleta {
    max-width: 100%;
}

.container-flex {
    background-color: #fff;
    padding: 30px;
}

.container-flex p {
    margin: 10px 40px;
}

.flex {
    display: flex;
    align-items: center;
    margin: 0;
}

.flex p {
    margin-left: 1rem;
    font-weight: bold;
}

.vantagem {
    font-size: 64px;
    text-align: end;
    padding: 20px;
    font-weight: bold;
    color: #c6c6c6;
}

.detalhe {
    display: inline-block;
    width: 60px;
    height: 4px;
    background-color: #e21;

    position: absolute;
    top: 30px;
    right: -30px;
}
footer {
    margin: 0;
    padding: 30px;
    background-color: #fff;
}

footer p {
    text-align: center;
}