body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

label {
    display: block;
}

input {
    font-size: 1.2rem;
    padding: 10px;;
}

button {
    display: block;
    margin-top: 30px;

}

.checkbox, .radio {
    display: grid;
    grid-template-columns: auto 1fr;
    grid: 10px;
    align-items: center;
}


.checkbox label, .checkbox input, .radio input, .radio label {
    margin: 0px;
}