* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}
section {
    background: #111;
    padding: 2rem;
    margin: 1rem;  
    border-radius: 4px;
}

h2 {
    margin: 0;
    color: white;
}

p {
    color: #b2b2b2;
}

span {
    color: #febe01;
}

a {
    background: #febe01;
    color: #332200;
    text-decoration: none;
    display: inline-block;
    padding: 0.6rem;
    border-radius: 4px;
}